<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://xmlns.jcp.org/xml/ns/javaee" >

<web-app>
	<servlet>
		<servlet-name>DeleteSong</servlet-name>
		<display-name>DeleteSong</display-name>
		<description></description>
		<servlet-class>com.webmusic.controller.DeleteSong</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePlaylist</servlet-name>
		<display-name>DeletePlaylist</display-name>
		<description></description>
		<servlet-class>com.webmusic.controller.DeletePlaylist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSong</servlet-name>
		<url-pattern>/DeleteSong</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePlaylist</servlet-name>
		<url-pattern>/DeletePlaylist</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
	login.jsp
	</welcome-file-list>

</web-app>
